* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

.center {
  padding-left: 120px;
  padding-right: 120px;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  border-bottom: rgba(255, 255, 255, 0.8) 0.5px solid;
  display: flex;
}
.header__mobile {
  display: none;
}
.header__input {
  color: #ffffff;
  background-color: transparent;
  width: 288px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  outline: none;
}
.header__input::-moz-placeholder {
  color: #ffffff;
  padding: 32px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__input::placeholder {
  color: #ffffff;
  padding: 32px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__nav {
  display: flex;
  gap: 32px;
}
.header__nav_link {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__nav_link:hover {
  text-decoration: underline;
  transition: all 1s;
}

.photo {
  background-image: url("photos/catalog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.main {
  width: 35%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 48px;
}
.main__text {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer__foto {
  width: 15px;
}

@media (max-width: 768px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main__text {
    font-size: 48px;
  }
  .memories__header {
    font-size: 32px;
  }
  .memories__imgs {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
  }
  .memories__img {
    display: flex;
    grid-column: span 2;
    font-size: 24px;
  }
  .memories__img_big {
    width: 370px;
    grid-column: span 2;
  }
  .prodec_all {
    display: flex;
    gap: 20px;
  }
  .prodec__cart {
    width: 310px;
  }
}
.sorting {
  width: 288px;
  height: 41px;
  top: 464px;
  left: 522px;
  gap: 0px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: flex-start;
}

.bred_carms {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: black;
}

.catalog {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.catalog__button {
  border-radius: 15px;
  width: 288px;
  height: 42px;
}
.catalog__nav {
  padding-top: 64px;
  padding-bottom: 42px;
  display: flex;
  justify-content: space-between;
}
.catalog__element {
  text-decoration: none;
}

.prodec__cart {
  display: flex;
  flex-direction: column;
  width: 370px;
  color: rgb(0, 0, 0);
  background-color: rgba(135, 190, 255, 0.4);
  padding: 14px;
  border-radius: 12px;
}

.cart__header {
  font-family: Montserrat;
  padding-top: 20px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  color: black;
  border-radius: 12px;
}
.cart__img {
  width: 100%;
  height: 270px;
}
.cart__cost {
  display: flex;
  gap: 24px;
  padding-bottom: 20px;
}
.cart__about {
  padding-bottom: 13px;
  color: gray;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.cart__cost_1 {
  color: black;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}
.cart__cost_2 {
  color: gray;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  text-decoration: line-through;
}
.cart__button {
  border: none;
  padding: 8px 36px;
  border-radius: 12px;
  background-color: #477EC0;
  width: 130px;
  height: 40px;
  color: white;
}

.cart:hover {
  transform: scale(1.1);
  transition: 2s;
}

.footer {
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F6F6;
  color: rgb(255, 255, 255);
}
.footer__logo {
  padding-right: 128px;
}
.footer__content {
  color: black;
  display: flex;
  gap: 128px;
}
.footer__item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item_text {
  color: rgb(110, 110, 110);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__item_header {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.footer__input {
  border-radius: 15px;
  width: 251px;
  height: 46px;
  border: 1px solid #C4C4C4;
  padding-left: 24px;
}
.footer__button {
  color: white;
  background-color: #486A93;
  border-radius: 15px;
  border-radius: 15px;
  width: 275px;
  height: 46px;
  border: 1px solid #C4C4C4;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__header {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

@media (max-width: 768px) {
  .center {
    padding-right: 24px;
    padding-left: 24px;
  }
  .prodec__cart {
    width: 310px;
  }
  .catalog {
    display: flex;
  }
  .footer {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    flex-wrap: wrap;
    background-color: #F7F6F6;
    color: rgb(255, 255, 255);
  }
  .footer__logo {
    display: none;
  }
  .footer__content {
    color: black;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  .footer__item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer__item_text {
    color: rgb(110, 110, 110);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .footer__item_header {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .footer__input {
    border-radius: 15px;
    width: 250px;
    height: 46px;
    border: 1px solid #C4C4C4;
    padding-left: 24px;
  }
  .footer__button {
    color: white;
    background-color: #486A93;
    border-radius: 15px;
    border-radius: 15px;
    width: 275px;
    height: 46px;
    border: 1px solid #C4C4C4;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .footer__header {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}
@media (max-width: 480px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    justify-content: space-between;
  }
  .header__logo {
    display: none;
  }
  .header__input {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__mobile {
    display: flex;
    align-items: center;
    gap: 320px;
  }
  .memories__imgs {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .memories__imgs__big {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .catalog {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}/*# sourceMappingURL=catalog.css.map */